- name: Install Heroku CLI
  run: |
    curl https://cli-assets.heroku.com/install.sh | sh

- name: Set Heroku stack to container
  run: |
    heroku stack:set container -a ${{ secrets.HEROKU_APP_NAME }}

- name: Build, Push and Release a Docker container to Heroku
  uses: gonuit/heroku-docker-deploy@v1.3.3
  with:
    email: ${{ secrets.HEROKU_EMAIL }}
    heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
    heroku_app_name: ${{ secrets.HEROKU_APP_NAME }}
    dockerfile_directory: ./
    dockerfile_name: Dockerfile
    docker_options: "--no-cache"
    process_type: web
